// Reset
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border-radius: 0;
  border: none;
  background: transparent;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
// Common property
:root {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  color: $primary-color;
  
}
// Common styles
.container {
  max-width: 480px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @include mobile{
    width: 480px;
  }

  @include tablet {
    padding: 0 32px;
    max-width: none;
    min-width: none;
    width: 768px;
  }

  @include desktop {
    width: 1200px;
    padding: 0 16px;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 8px;

  padding: 11px 37px;

  font-family: $primary-font;
  @include font (700,16px,1.31,null,$primary-color);
  text-decoration: none;

  background-color:$acent-color;
  stroke: $alternative-color;

  border-radius: 22px;
  cursor: pointer;
  @include transition (background-color color);
  
}
.button--light {
  background-color: $alternative-color;
  color: $acent-color;
  stroke: $acent-color;  
  &:hover,
  &:focus {
    background-color: $button-hover;
    color: $acent-color;
    stroke: $acent-color;
  }
}
.button-more{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  background-color: $alternative-color;
  border-radius: 50%;

  fill: $acent-color;
  cursor: pointer;

  @include transition (background-color fill);

  &:focus,&:hover{
    background-color: $acent-color;
    fill: $alternative-color;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll{
  overflow: hidden;
}