// Reset
body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border-radius: 0;
  border: none;
  background: transparent;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
// Common property
:root {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  color: $primary-color;
}

// Common styles
.container {
  max-width: 480px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @include mobile{
    width: 480px;
  }

  @include tablet {
    padding: 0 32px;
    max-width: none;
    min-width: none;
    width: 768px;
  }

  @include desktop {
    width: 1200px;
    padding: 0 16px;
  }
}
.button {
  
}
