//  Fonts
$primary-font:'DM Sans', sans-serif;
$second-font:'Titan One', sans-serif;

//  Text colors
$primary-color: #FFFFFF;

// $header-color: ;

// Colors
$acent-color: #D41443;
$alternative-color: #FFFFFF;
$hero-bkg-color:#FFB8CA;
$button-hover:#ECEBEB;
$burger-bkg:#E17992;


// Functions
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);