<div class="about-modal__backdrop is-hidden">
  <div class="about-modal">
    <button
      class="about-modal__close-button"
      aria-label="close about-modal"
      type="button"
    >
      <svg width="20px" height="20px">
        <use href="./images/icons-sprite.svg#icon-cancel-circle"></use>
      </svg>
    </button>
    <h2 class="about-modal__title">How it&#8217;s made&#63;</h2>
    <div class="about-modal__content">
      <p class="about-modal__text">
        In the overall ice cream production scheme of things, making the mix
        &#8211; and making it most excellent &#8211; is perhaps the most
        important part of the whole process. A very skilled and experienced
        person known as the Mix Master performs mix-making procedures at the
        Blend Tank, our 1000-gallon stainless steel mega-blender. A batch of ice
        cream mix starts with heavy cream, condensed skim milk, and liquid cane
        sugar. To these ingredients the Mix Master also adds egg yolks, cocoa
        powder for our chocolate flavors, and natural stabilizers which help
        prevent heat shock and formation of ice crystals. All of the ingredients
        are blenderized for 6 to 8 minutes, resulting in either a white "sweet
        cream" mix, or a chocolate mix.
      </p>
      <p class="about-modal__text">
        The completed batch of mix is then transferred through one of two
        strainers into the Surge Tank. After ice cream mix is blended,
        it&#8217;s ready to be pasteurized and homogenized.
      </p>
      <p class="about-modal__text">
        One of the reasons IceCream's ice cream is so good can be explained with
        one word: flavor. We take our flavors &#8211; and our flavoring
        techniques &#8211; very seriously. The folks who work the Flavor Vats
        are experts in the fine art of flavoring, and only the finest of
        flavoring ingredients ever get to commingle with a flavor vat-full of
        our ice cream mix.
      </p>
      <p class="about-modal__text">
        Once the mix has “simmered”, it&#8217;s pumped from the Tank Room to the
        Flavor Vats: a series of stainless steel vats that each hold 500 gallons
        of mix. It's here that the mix is transformed from basically unflavored
        to euphorically flavorful, as we add an incredible range of flavorings,
        purees & extracts, like vanilla, pure peppermint, fruit extracts, banana
        puree, and even a few liqueurs from time to time.s pumped from the Tank
        Room to the Flavor Vats: a series of stainless steel vats that each hold
        500 gallons of mix. It's here that the mix is transformed from basically
        unflavored to euphorically flavorful, as we add an incredible range of
        flavorings, purees & extracts, like vanilla, pure peppermint, fruit
        extracts, banana puree, and even a few liqueurs from time to time.
      </p>
      <p class="about-modal__text">
        After the chunks and the swirls are added, the ice cream&#8217;s ready
        for dispensing into pint containers. This is done with a most amazing
        piece of machinery called the Automatic Filler.
      </p>
      <p class="about-modal__text">
        Before the packaged ice cream can be stored or shipped, it needs to be
        frozen further &#8211; from its semi-frozen temperature of 22 degrees
        above zero, to a fully-frozen-solid state of at least 10 degrees below
        zero. The process is called “hardening”, and it happens in the Spiral
        Hardener. After the pints are frozen solid we wrap them for shipment.
      </p>
      <p class="about-modal__text">
        Meanwhile, back in the Quality Assurance Lab, our QA folks are absolute
        fanatics when it comes to ensuring every flavor of IceCream&#8217;s ice
        cream meets our strict standards of product excellence.
      </p>
    </div>
  </div>
</div>
