<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden advantages__title">Наши преимущества</h2>
    <ul class="advantages__list">
      <li class="advantages__indicators advantages__indicators--liters">
        <p class="advantages__amount">721</p>
        <p class="advantages__quality">
          Only fresh and high-quality milk in accordance with the international
          standard ISO 22000
        </p>
      </li>
      <li class="advantages__indicators advantages__indicators--apples">
        <p class="advantages__amount">16kg</p>
        <p class="advantages__quality">
          Our ingredients support positive change and makes our ice cream taste
          sensational!
        </p>
      </li>
      <li class="advantages__indicators advantages__indicators--hearts">
        <p class="advantages__amount">84</p>
        <p class="advantages__quality">
          We aim to create prosperity for everyone that's connected to our
          business.
        </p>
      </li>
    </ul>
  </div>
</section>
