<section class="contacts" id="contacts--ancor">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__section">
      <li class="contacts__list">
        <span class="contacts__category">CAFE</span>
        <div class="contacts__items">
          <p class="contacts__city">Chicago</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__shedule">
          <p class="contacts__item">Monday - Friday</p>
          <p class="contacts__item time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__shedule-weekend">
          <p class="contacts__item">Saturday - Sunday</p>
          <p class="contacts__item time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__address">
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </address>
      </li>

      <li class="contacts__list">
        <span class="contacts__category foodtruck">FOODTRUCK</span>
        <div class="contacts__items">
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__shedule">
          <p class="contacts__item">Monday - Friday</p>
          <p class="contacts__item time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__shedule-weekend">
          <p class="contacts__item">Saturday - Sunday</p>
          <p class="contacts__item time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__address">
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </address>
      </li>

      <li class="contacts__list">
        <span class="contacts__category">CAFE</span>
        <div class="contacts__items">
          <p class="contacts__city">New York</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__shedule">
          <p class="contacts__item">Monday - Friday</p>
          <p class="contacts__item time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__shedule-weekend">
          <p class="contacts__item">Saturday - Sunday</p>
          <p class="contacts__item time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__address">
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
          <a class="contacts__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </address>
      </li>
    </ul>
    <div class="contacts__button">
      <button
        type="button"
        class="button locations"
        aria-label="push to know our location"
      >
        Our Locations
        <svg class="header__icon white" width="4px" height="8px">
          <use href="./images/icons-sprite.svg#right-arrow"></use>
        </svg>
      </button>
      <button
        type="button"
        class="button button--light franchise"
        data-franch-open
        aria-label="push to create youre franchise with us"
      >
        Franchise
        <svg class="header__icon" width="4px" height="8px">
          <use href="./images/icons-sprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
