<section class="contacts">
    <div class="container">
        <h3 class="contacts__title">Contacts</h3>
            <ul class="contacts__section"> 

                <li class="contacts__list">
                    <span class="contacts__category">CAFE</span>
                    <div class="contacts__items">
                        <b class="contacts__city">Chicago</b>
                        <p class="contacts__text"> Fusce ut velit laoreet, tempus arcu molestie vulputate </p>
                    </div>
                    <div class="contacts__timetable">
                        <b class="contacts__item">Monday - Friday</b>
                        <p class="contacts__item time">06:00 AM - 10:00 PM</p>
                    
                        <b class="contacts__item">Saturday - Sunday</b>
                        <p class="contacts__item time">08:00 AM - 16:00 PM</p>
                    </div>
                    <address class="contacts__address">
                    <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a><br />
                    <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </address>
                </li>

                <li class="contacts__list">
                    <span class="contacts__category foodtruck">FOODTRUCK</span>
                    <div class="contacts__items">
                        <b class="contacts__city">Los Angeles</b>
                        <p class="contacts__text"> Fusce ut velit laoreet, tempus arcu molestie vulputate </p>
                    </div>
                    <div class="contacts__timetable">
                        <b class="contacts__item">Monday - Friday</b>
                        <p class="contacts__item time">06:00 AM - 10:00 PM</p>
                    
                        <b class="contacts__item">Saturday - Sunday</b>
                        <p class="contacts__item time">08:00 AM - 16:00 PM</p>
                    </div>
                    <address class="contacts__address">
                    <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a><br />
                    <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </address>
                </li>
                
                <li class="contacts__list">
                    <span class="contacts__category">CAFE</span>
                    <div class="contacts__items">
                        <b class="contacts__city">New York</b>
                        <p class="contacts__text"> Fusce ut velit laoreet, tempus arcu molestie vulputate </p>
                    </div>
                    <div class="contacts__timetable">
                        <b class="contacts__item">Monday - Friday</b>
                        <p class="contacts__item time">06:00 AM - 10:00 PM</p>
                   
                        <b class="contacts__item">Saturday - Sunday</b>
                        <p class="contacts__item time">08:00 AM - 16:00 PM</p>
                </div>
                <address class="contacts__address">
                    <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a><br />
                    <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                </address>
                </li>
            </ul>
    </div>
</section>