<section class="customer">
    <div class="container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper customer__swiper customer__wrapper">
            <div class="swiper-slide">
                <div>
                    <picture>
                        <source src="./images/customers_review/customer-1.jpg" src="./images/customers_review/customer-1@2x.jpg"
                            media="(min-width: 1200px)" />
                        <img class="customer__img" src="./images/customers_review/customer-1.jpg" alt="customer number 1" width="85px">
                    </picture>
                    <div class="customer__card">
                        <div class="customer__gradient">
                            <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                       
                    </div>
                    <p class="customer__location">Emily, Los Angeles</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <picture>
                        <source src="./images/customers_review/customer-2.jpg" src="./images/customers_review/customer-2@2x.jpg"
                            media="(min-width: 1200px)" />
                        <img class="customer__img" src="./images/customers_review/customer-2.jpg" alt="customer number 2" width="85px">
                    </picture>
                    <div class="customer__card">
                        <div class="customer__gradient">
                            <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <p class="customer__location">Emily, Los Angeles</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <picture>
                        <source src="./images/customers_review/customer-3.jpg" src="./images/customers_review/customer-3@2x.jpg"
                            media="(min-width: 1200px)" />
                        <img class="customer__img" src="./images/customers_review/customer-3.jpg" alt="customer number 3" width="85px">
                    </picture>
                    <div class="customer__card">
                        <div class="customer__gradient">
                            <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                    </div>
                    <p class="customer__location">Emily, Los Angeles</p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination customer__icon"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    loop: true,
                });
            </script> 
</section>