<section class="customer">
    <div class="container customer__container">
    <div class="swiper mySwiper">
        <div class=" swiper-wrapper">
            <div class="customer__wrapperswiper-slide">
                <img class="customer__img" src="./images/hero1-desk.png" alt="customer review number 1">
                <div class="customer__card">
                <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>

                </div>
                <p class="customer__location">Emily, Los Angeles</p>
            </div>
            <div class="customer__wrapper swiper-slide">Slide 2</div>
            <div class="customer__wrapper swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                rel: ".swiper-pagination",
                clickable: true,
            },
            loop: true,
        });
    </script>

    
</section>