<section class="customer" id="review--ancor">
    <div class="container">
        <h2 class="visually-hidden">Customer reviews</h2>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper customer__swiper">
            <div class="swiper-slide">
              <article class="customer__wraper">
                  <div class="customer__border">
                      <picture>
                      <source 
                          srcset="./images/customers_review/customer-1.jpg, ./images/customers_review/customer-1@2x.jpg 2x"
                          media="(min-width: 1200px)" />
                      <img class="customer__img" src="./images/customers_review/customer-1.jpg" alt="customer number 1">
                      </picture>
                  </div>    
                  <div class="customer__card">
                      <div class="customer__gradient">
                          <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                              hendrerit
                              nulla quam nunc, accumsan
                              congue. Lorem ipsum primis in nibh vel risus.</p>
                      </div>
                  </div>
                  <h3 class="customer__location">Emily, Los Angeles</h3>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="customer__wraper">
                  <div class="customer__border">
                      <picture>
                      <source srcset="./images/customers_review/customer-2.jpg, ./images/customers_review/customer-2@2x.jpg 2x"
                          media="(min-width: 1200px)" />
                      <img class="customer__img" src="./images/customers_review/customer-2.jpg" alt="customer number 2">
                      </picture>
                  </div>
                  <div class="customer__card">
                      <div class="customer__gradient">
                        <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                      </div>
                  </div>
                  <h3 class="customer__location">Emily, Los Angeles</h3>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="customer__wraper">
                  <div class="customer__border">
                      <picture>
                      <source srcset="./images/customers_review/customer-3.jpg,./images/customers_review/customer-3@2x.jpg 2x"
                          media="(min-width: 1200px)" />
                      <img class="customer__img" src="./images/customers_review/customer-3.jpg" alt="customer number 3">
                      </picture>
                  </div>
                  <div class="customer__card">
                      <div class="customer__gradient">
                          <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                          hendrerit
                          nulla quam nunc, accumsan
                          congue. Lorem ipsum primis in nibh vel risus.</p>
                      </div>
                  </div>
                  <h3 class="customer__location">Emily, Los Angeles</h3>
              </article>
            </div>
        </div>
        <div class="swiper-pagination customer__icon"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    loop: true,
                });
            </script> 
</section>