<footer class="footer">
  <div class="container">
    <div class="footer__text-social-box">
      <div class="footer-text">
        <p class="footer-text__one">homemade ice cream made</p>
        <p class="footer-text__two">with passion</p>
      </div>

      <div class="social-box">
        <ul class="social-box__scroll">
          <li>
            <a class="social-box__link" href="">
              <svg class="social-box__icon" width="20px" height="20px">
                <use href="./images/icons-sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social-box__link" href="">
              <svg class="social-box__icon" width="20px" height="20px">
                <use href="./images/icons-sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social-box__link" href=""
              ><svg class="social-box__icon" width="20px" height="20px">
                <use href="./images/icons-sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="social-box__text">
          Feel free to contact
          <a class="social-box__tel" href="tel:+610383766284">
            +61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="line">
    <p class="copypass">&copy; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
