<section class="gallery">
    <div class="container container-gallery">
        <div class="parent">
            <div class="div1 box">
                <img src="./images/advantages.jpg/mobile2x/home-320-1-2x.jpg" alt="first">
            </div>
            <div class="div2 box">
                <img src="./images/advantages.jpg/mobile2x/home-320-2-2x.jpg" alt="second">
            </div>
            <div class="div3 box">
                <img src="./images/advantages.jpg/mobile2x/home-320-3-2x.jpg" alt="third">
            </div>
            <div class="div4 box">
                <img src="" alt="">
            </div>
            <div class="div5 box"> </div>
            <div class="div6 box"> </div>
            <div class="div7 box"> </div>
            <div class="div8 box"> </div>
            <div class="div9 box"> </div>
            <div class="div10 box"> </div>
        </div>
    </div>
</section>