<section class="gallery">
  <div class="container">
    <div class="parent__list">
      <div class="div1 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-1-2x.jpg"
          alt="first"
        />
      </div>
      <div class="div2 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-2-2x.jpg"
          alt="second"
        />
      </div>
      <div class="div3 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-3-2x.jpg"
          alt="third"
        />
      </div>
      <div class="div4 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-4-2x.jpg"
          alt="fourth"
        />
      </div>
      <div class="div5 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-5-2x.jpg"
          alt="fifth"
        />
      </div>
      <div class="div6 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-6-2x.jpg"
          alt="sixth"
        />
      </div>
      <div class="div7 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-7-2x.jpg"
          alt="seventh"
        />
      </div>
      <div class="div8 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-8-2x.jpg"
          alt="eighth"
        />
      </div>
      <div class="div9 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-9-2x.jpg"
          alt="ninth"
        />
      </div>
      <div class="div10 box">
        <img
          src="./images/advantages.jpg/mobile2x/home-320-10-2x.jpg"
          alt="tenth"
        />
      </div>
    </div>
  </div>
</section>
