<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden gallery__title">Галерея</h2>
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--first">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-1.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-1-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-1.jpg,
              ./images/advantages.jpg/tablet2x/home-768-1-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-1.jpg,
              ./images/advantages.jpg/mobile2x/home-320-1-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-1-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--second">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-2.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-2-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-2.jpg,
              ./images/advantages.jpg/tablet2x/home-768-2-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-2.jpg,
              ./images/advantages.jpg/mobile2x/home-320-2-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-2-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--third">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-3.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-3-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-3.jpg,
              ./images/advantages.jpg/tablet2x/home-768-3-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-3.jpg,
              ./images/advantages.jpg/mobile2x/home-320-3-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-3-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--fourth">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-4.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-4-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-4.jpg,
              ./images/advantages.jpg/tablet2x/home-768-4-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-4.jpg,
              ./images/advantages.jpg/mobile2x/home-320-4-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-4-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--fifth">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-5.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-5-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-5.jpg,
              ./images/advantages.jpg/tablet2x/home-768-5-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-5.jpg,
              ./images/advantages.jpg/mobile2x/home-320-5-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-5-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--sixth">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-6.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-6-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-6.jpg,
              ./images/advantages.jpg/tablet2x/home-768-6-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-6.jpg,
              ./images/advantages.jpg/mobile2x/home-320-6-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-6-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--seventh">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-7.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-7-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-7.jpg,
              ./images/advantages.jpg/tablet2x/home-768-7-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-7.jpg,
              ./images/advantages.jpg/mobile2x/home-320-7-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-7-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--eighth">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-8.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-8-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-8.jpg,
              ./images/advantages.jpg/tablet2x/home-768-8-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-8.jpg,
              ./images/advantages.jpg/mobile2x/home-320-8-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-8-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--ninth">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-9.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-9-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-9.jpg,
              ./images/advantages.jpg/tablet2x/home-768-9-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-9.jpg,
              ./images/advantages.jpg/mobile2x/home-320-9-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-9-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--tenth">
        <picture>
          <source
            srcset="
              ./images/advantages.jpg/desktop/home-1200-10.jpg,
              ./images/advantages.jpg/desktop2x/home-1200-10-2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/tablet/home-768-10.jpg,
              ./images/advantages.jpg/tablet2x/home-768-10-2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages.jpg/mobile/home-320-10.jpg,
              ./images/advantages.jpg/mobile2x/home-320-10-2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/advantages.jpg/mobile2x/home-320-10-2x.jpg"
            alt="first"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
