<header class="header">
  <div class="container">
    <div class="header__wrap">
      <nav class="header__nav">
        <a
          href=""
          class="logo header__logo"
          aria-label="company logo, bring you on home page"
        >
          <svg class="logo__icon" width="199px" height="50px">
            <use href="./images/icons-sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link">Home</a>
          </li>
          <li class="header__item">
            <a href="#review--ancor" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="#about--ancor" class="header__link">How it’s made?</a>
          </li>
          <li class="header__item">
            <a href="#products--ancor" class="header__link">Our products</a>
          </li>
          <li class="header__item">
            <a href="#contacts--ancor" class="header__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__buttons">
        <button
          class="menu-button menu-button--open"
          type="button"
          aria-label="navigation menu"
        >
          <svg class="menu-button__icon" width="20px" height="12px">
            <use href="./images/icons-sprite.svg#icon-burger"></use>
          </svg>
        </button>
        <button
          class="button button--light header__button buy-now--header"
          type="button"
          aria-label="join us"
        >
          <span class="button__text">Buy now</span>
          <svg class="header__icon" width="4px" height="8px">
            <use href="./images/icons-sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
