<section class="hero">
  <div class="container">
    <div class="hero__wraper">
      <!-- icecream -->
      <div class="hero__thumb hero__bg--icecream">
        <picture class="hero__bg">
          <source
            media="(min-width:1200px )"
            srcset="./images/hero1-desk.png 1x, ./images/hero1-desk@2x.png 2x"
          />
          <source
            media="(min-width:768px )"
            srcset="./images/hero1-tab.png 1x, ./images/hero1-tab@2x.png 2x"
          />
          <source
            srcset="./images/hero1-mob.png 1x, ./images/hero1-mob@2x.png 2x"
          />
          <img src="./images/hero1-mob.png" alt="tasty icecream" />
        </picture>
      </div>
      <div class="hero__thumb hero__bg--milk">
        <picture>
          <source
            media="(min-width:1200px )"
            srcset="./images/hero2-desk.png 1x, ./images/hero2-desk@2x.png 2x"
          />
          <source
            media="(min-width:768px )"
            srcset="./images/hero2-tab.png 1x, ./images/hero2-tab@2x.png 2x"
          />
          <img src="./images/hero2-tab.png" alt="Fresh milk" />
        </picture>
      </div>
      <div class="hero__thumb hero__bg--girl">
        <picture>
          <source
            media="(min-width:1200px )"
            srcset="./images/hero3-desk.png 1x, ./images/hero3-desk@2x.png 2x"
          />
          <source
            media="(min-width:768px )"
            srcset="./images/hero3-tab.png 1x, ./images/hero3-tab@2x.png 2x"
          />
          <img src="./images/hero3-tab.png" alt="very pleased girl" />
        </picture>
      </div>
      <div class="hero__content">
        <h1 class="hero__title">
          Ice cream made with
          <span class="hero__title hero__title--acent">passion</span>
        </h1>
        <ul class="hero__buttons">
          <li class="hero__item">
            <a href="#products--ancor" class="button hero__button">Products</a>
          </li>
          <li class="hero__item">
            <a
              href="#about--ancor"
              class="button button--light hero__button hero__button--light"
              >How it’s made?</a
            >
          </li>
        </ul>
        <div class="hero__description">
          <p class="hero__text hero__text--face">
            For the production of our ice cream, we use only natural organic
            milk and only the best ingredients.
          </p>
          <p class="hero__text hero__text--back roll">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
            accusamus blanditiis sapiente exercitationem odio possimus, et vitae
            illum amet provident consequuntur repellendus enim recusandae sequi
            minima necessitatibus fuga at odit.
          </p>
        </div>
        <button
          class="hero__button-more button-more"
          type="button"
          aria-label="know more"
        >
          <svg
            width="5px"
            height="5px"
            class="button-more__icon button-more__icon--desk"
          >
            <use href="./images/icons-sprite.svg#icon-right-cursor"></use>
          </svg>
        </button>
        <ul class="achivments">
          <li class="achive">
            <p class="achive__text">
              <span class="achive__number">16</span>
              cafes
            </p>
          </li>
          <li class="achive">
            <p class="achive__text">
              <span class="achive__number">23</span>
              food trucks
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
