<div class="burger__backdrop is-hidden">
  <div class="burger">
    <div class="burger__buttons">
      <button class="menu-button menu-button--close" type="button">
        <svg
          class="menu-button__icon menu-button__icon--close"
          width="14px"
          height="14px"
        >
          <use href="./images/icons-sprite.svg#icon-close"></use>
        </svg>
      </button>
      <button class="button button--light burger__button buy-now" type="button">
        <span class="button__text">Buy now</span>
        <svg class="burger__icon" width="4px" height="8px">
          <use href="./images/icons-sprite.svg#right-arrow"></use>
        </svg>
      </button>
      <nav class="burger__nav">
        <ul class="burger__list">
          <li class="burger__item">
            <a href="#" class="burger__link current">Home</a>
          </li>
          <li class="burger__item">
            <a href="#advantages--ancor" class="burger__link">About us</a>
          </li>
          <li class="burger__item">
            <a href="#about--ancor" class="burger__link">How it’s made?</a>
          </li>
          <li class="burger__item">
            <a href="#products--ancor" class="burger__link">Our products</a>
          </li>
          <li class="burger__item">
            <a href="#contacts--ancor" class="burger__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
