<section class="products" id="products--ancor">
    <div class="container">
        <div class="products__wrapper">
            <p class="products__pre-title">100% natural</p>
            <h2 class="products__title">products</h2>
            <ul class="products__card card">
                <li class="card__item">
                    <div class="card__img card__img--1">
                    </div>
                    <div class="card__bg card__bg--1">
                        <h3 class="card__title">ice cream</h3>
                        <p class="card__after-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et</p>
                        <button class="button-more card__btn" type="button">
                            <svg width="13px" height="13px" class="button-more__icon">
                                <use href="./images/icons-sprite.svg#icon-right-cursor"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="card__item">
                    <div class="card__img card__img--2">
                    </div>
                    <div class="card__bg card__bg--2">
                        <h3 class="card__title">ice coffee</h3>
                        <p class="card__after-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore et</p>
                        <button class="button-more card__btn" type="button">
                            <svg width="13px" height="13px" class="button-more__icon">
                                <use href="./images/icons-sprite.svg#icon-right-cursor"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="card__item">
                    <div class="card__img card__img--3">
                    </div>
                    <div class="card__bg card__bg--3">
                        <h3 class="card__title">milkshakes</h3>
                        <p class="card__after-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore et</p>
                        <button class="button-more card__btn" type="button">
                            <svg width="13px" height="13px" class="button-more__icon">
                                <use href="./images/icons-sprite.svg#icon-right-cursor">
                                </use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
