.about {

    
    //     
    padding-top: 60px;
    // padding-bottom: 40px;
    background-color: $advantages-bkg;
    // @media screen and (min-width: 768px) {
    // padding-top: px;
    // padding-bottom: px;
    // }
    //  @media screen and (min-width: 1200px) {
    // padding-top: px;
    // padding-bottom: px;
    // }
}
.about__wrap{
    position: relative;
        background-image: url('.././images/about-bg-mob.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 80%;
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('.././images/about-bg-mob@2x.png');
            }
        
            @media screen and (min-width: 768px) {
                background-image: none;
            }
        
            @media screen and (min-width: 1200px) {
                background-image: url('.././images/about-bg-desk.png');
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-size: contain;
                    background-position: center;
                    background-image: url('.././images/about-bg-desk@2x.png');
                }
            }
}

.about__text {
    margin-left: 56px;
    margin-right: 64px;
    margin-bottom: 15px;
    font-family: $second-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    // text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    // margin-left: auto;
    // margin-right: auto;
    font-size: 26px;
    line-height: 1.15;  
    }
    @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    }
}

.about__title {
    margin-left: 56px;
    margin-right: 64px;
    margin-bottom: 32px;
    font-family: $second-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    // text-align: center;
    text-transform: uppercase;
    color: $acent-color;
    @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    // margin-left: auto;
    // margin-right: auto;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.46;
    }
    @media screen and (min-width: 1200px) {
    margin-bottom: 150px;
    font-size: 58px;
    line-height: 1.15;
    }
}

.about__img {
    
//     margin-bottom: 40px;
    width:280px;
    height:279px;
    @media screen and (min-width: 768px) {
    width: 336px;
    height: 335px;
    position: absolute;
    top: 201px;
    left: 32px;
    }
     @media screen and (min-width: 1200px) {
    width: 501px;
    height: 501px;
    top: 236px;
    left: 16px;
    }
}

// .about__feature {}

.about__text-pre {
    margin-bottom: 20px;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 1.58;
    color: #000000;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.79;
        margin-left: auto;
        max-width: 334px;
    }
    @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.76;
    }
}

.about__text-after {
    margin-bottom: 20px;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 1.58;
    color: #907E82;
    background-color: transparent;
    
    @media screen and (min-width: 768px) {
    max-width: 334px;
    margin-left: auto;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.79;
    }
    @media screen and (min-width: 1200px) {
    // // margin-bottom: px;
    line-height: 1.94;
    }
}

// .about__text-pre {
//     &::after {
//     content: '';
//     position: absolute;
//     // // top:;
//     // left:;
//     max-width: 100%;
//     background-image: url('.././images/about-bg-mob@2x.png');
//     background-repeat: no-repeat;
//     background-size: contain;
//     @media (min-device-pixel-ratio: 2),
//         (min-resolution: 192dpi),
//         (min-resolution: 2dppx) {
//     background-image: url('.././images/about-bg-mob@2x.png');
// }
//     @media screen and (min-width: 768px) {
//         background-image: none;
//     }
//     @media screen and (min-width: 1200px) {
//         max-width: 100%;
//         background-image: url('.././images/about-bg-desk.png');
//     @media (min-device-pixel-ratio: 2),
//         (min-resolution: 192dpi),
//         (min-resolution: 2dppx) {
//         background-image: url('.././images/about-bg-desk@2x.png');
//         }
//     }
//     }
// }

.about__button {
    margin-left: auto;
    margin-right: 192px;
    color: $acent-color;
    background-color: $alternative-color;
}