.contacts {
  padding-top: 30px;
  padding-bottom: 20px;
  background: linear-gradient(#fff 332px, #fff5f6 332px);
  @include tablet {
    padding-top: 40px;
    background: linear-gradient(#fff 332px, #fff5f6 332px);
  }
  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(#fff 159px, #fff5f6 159px);
  }
}

.contacts__section {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 32px;

    margin-left: -16px;
    margin-right: -16px;

    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__list {
  max-width: 440px;
  width: 100%;
  padding: 40px 32px;
  margin: 0 auto 20 auto;
  color: #000000;
  background-color: $primary-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border: 1px solid #e1e1e1;
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    max-width: 224px;
    width: 100%;
    margin-bottom: 0;
    gap: 32px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 368px;
    width: 100%;
    // height: 538px;
    padding: 40px;
  }
}

.contacts__list:last-child {
  margin-bottom: 0;
}

.contacts__category {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1.83;
  width: 80px;
  text-transform: uppercase;
  color: $primary-color;
  background-color: #f0d1a5;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 73px;
    // height: 28px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 6px;
  }
}

.foodtruck {
  width: 130px;
  background-color: #c2e297;
  @media screen and (min-width: 768px) {
    width: 138px;
  }
}

.contacts__items {
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
  }
}

.contacts__shedule {
  margin-top: 24px;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts__shedule-weekend {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }
}

.contacts__city {
  margin-bottom: 8px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1.83;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.85;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts__text {
  margin-bottom: 24px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__item {
  font-size: 12px;
  line-height: 1.83;
  font-family: $primary-font;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts__address {
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}

.contacts__link {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  font-family: $primary-font;
  font-style: normal;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $acent-color;
  }
}

.time {
  color: #ffa5ba;
}

.contacts__button {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  @media screen and (min-width: 768px) {
    gap: 14.5px;
    flex-direction: row;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    gap: 12px;
  }
}
.locations {
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 17px;
  @media screen and (min-width: 768px) {
    margin: 0;
    width: 191px;
  }
  @media screen and (min-width: 1200px) {
    width: 198px;
  }
}

.franchise {
  margin-left: auto;
  margin-right: auto;

  height: 44px;
  padding-top: 11px;
  @media screen and (min-width: 768px) {
    width: 174px;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 168px;
  }
}
