.hero-modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #e179919a;
    z-index: 999;
    overflow: hidden;
}

.is-hidden {}

.hero-modal {}