// Section styles
.hero {
  position: relative;
  background-color: $hero-bkg-color;
  overflow: hidden;
}

.hero__wraper{
  position: relative;
  padding-top: 194px;
  padding-bottom: 158px;
  @include tablet {
    padding-top: 92px;
    padding-bottom: 56px;
  }
  @include desktop {
    padding-top: 147px;
    padding-bottom: 84px;
  }
  // Circle
    &::before {
    content: '';
    position: absolute;
    top: 83px;
    left: 36px;
  
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: #FFA5BA;
    @include tablet{
      top: 43px;
      left: 248px;
      width: 335px;
      height: 333px;
    }
    @include desktop {
      top: 54px;
      left: 501px;
      width: 534px;
      height: 534px;
    }
  }
}
// Images
.hero__thumb {
  position: absolute;
}

.hero__bg--icecream {
  bottom: 0;
  left: 97px;
  @include tablet {
    left: 322px;
  }
  @include desktop{
    left: 634px;
  }
}

.hero__bg--milk {
  display: none;
  @include tablet {
    display: block;
    left: 0;
    bottom: 16px;
  }
  @include desktop{
    left: 16px;
    bottom: 60px;
  }
}

.hero__bg--girl {
  display: none;
  @include tablet{
    display: block;
    right: 0;
    bottom: 0;
  }
    @include desktop {
      right: 0px;
    }
}
// All content in section
.hero__content{
  position: relative;
  z-index: 998;
  @include tablet{
    display: grid;
    grid-template: repeat(4,auto)/auto 1fr auto;
  }
}
// Main title
.hero__title {
  width: 230px;
 @include font(400, 26px, 1.15,0.04em,null);
  font-family: $second-font;
  font-style: normal;
  text-transform: uppercase;
  @include tablet{
    grid-column: 1;
    width: 162px;
    padding-top: 10px;
    font-size: 22px;
    line-height: 1.14;
  }
  @include desktop {
    width: 277px;
    padding-top: 0;
    font-size: 38px;
    line-height: 1.16 ;

  }
}
// Title acent
.hero__title--acent {
  display: block;
  padding: 0;
  margin: 0;
  display: block;
  @include font(null, 48px, 0.9, null, $acent-color);
  @include tablet {
    font-size: 34px;
  }
  @include desktop {
    font-size: 58px;
  }
}
// Container with button
.hero__buttons {
  margin-top: 20px;
  display: flex;
  column-gap: 8px;
  @include tablet{
    grid-row: 2;
  }
  @include desktop {
    margin-top: 24px;
    column-gap: 12px;
  }
}

// Hero button style
.hero__button {
height: 24px;
width: 63px;
padding: 8px 0;
@include font(400,8px,1.25,null,null);
@include desktop {
  width: 107px;
  height: 40px;

  padding: 12px 0;

  font-size: 14px;
  line-height: 1.29;
}
}
.hero__button--light{
  width: 83px;
  @include desktop {
    width: 138px;
  }
}
// Text
.hero__description{
  display: none;
  @include tablet{
    position: relative;
    display: block;

    grid-row: 3;
    grid-column: 2;

    font-family: $primary-font;

    overflow: hidden;
    margin-top: 61px;
    margin-left: -10px;
    @include font(400, 8px, 1.5, null, null);
    width: 120px;
    @include desktop {
      margin-top: 108px;
      width: 200px;
      font-size: 14px;
      line-height: 1.43;
    }
  }
}
@include tablet{
  .hero__text{
    @include font(400, 8px, 1.5, null, null);
    @include desktop {
      font-size: 14px;
      line-height: 1.43;
    }
  }
  .hero__text--face{
    transform: translateX(-100%);
    .hero__description.roll & {
      transform: translateX(0);
    }
  }
  .hero__text--back{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    .hero__description.roll &{
      transform: translateX(0);
    }
  }
}

// Button more text button
.hero__button-more{
  display: none;
  @include tablet {
    display: flex;
    grid-row: 4;
    grid-column: 2;

    margin-top: 7px;
    margin-left: -10px;
  }
  @include desktop {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.button-more__icon--desk{
  @include desktop {
    width: 8px;
    height: 8px;
  }
}
// Company advantage
.achivments {
  display: none;
  
  @include tablet {
    display: block;
    grid-column: 3;
    padding-right: 8px;
    padding-top: 1px;
  }
    @include desktop {
      padding-right: 23px;
      padding-top: 4px;
    }
}
// Achive circle
.achive {
  position: relative;
  &::before{
    content: '';
    position: absolute;
    right: -8px;
    top: -2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $alternative-color;
    z-index: -1;
    @include desktop {
      right: -18px;
      top: -4px;
      width: 30px;
      height: 30px;
    }
  }
  
}
// Achive text
.achive__text {
  text-align: right;
  @include font(400, 8px, 1.25, null, null);
  @include desktop {
    font-size: 14px;
    line-height: 1.29;
  }
}

.achive__number {
  display: block;
  font-family: $second-font;
  text-transform: uppercase;
  @include font(400, 28px, 1.14, null, $acent-color);
  @include desktop {
    font-size: 46px;
    line-height: 1.15;

  }
}