.products{
    background-color: $alternative-color;
}

.card__item{
    background-color: blue;
   
   
}
.products__card{
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    height: 100%;
    border: 3px solid #000;

}
// .auto-fit {
//     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
// }

.card__btn{
    width: 38px;
    height: 40px;
    background-color: $alternative-color;

}

.card__icon{
    width: 38px;
    height: 40px;
    fill: currentColor;
}