.products{
    background-color: $alternative-color;
}

.products__wrapper{
    padding-top: 61px;
    padding-bottom: 60px;

}

.products__pre-title{
    font-family: 'Titan One';
    @include font(400, 30px, 1.13, 0.04em, #FFA5BA);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.products__title{
    @include font(400, 58px, 1.14, 0.06em, $acent-color);
    font-family: 'Titan One';
    text-align: center;
    margin-bottom: 20px;
}

 
.products__card{
    
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 796px;
    place-items: end center;
    
   
}

// }
// .auto-fit {
//     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
// }

.card__item{

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.card__bg-1{
    background-color: $hero-bkg-color;
    border-radius: 24px;
    max-width: 368px;
    height: 535px;
   

}

.card__bg-2{
    background-color: #F0D1A5;
    border-radius: 24px;
    max-width: 368px;
    height: 535px;
    &::before {
            content:'';
            position: absolute;
            top: -50%;
            left: 0;
            background-image: url(../images/products/card_img/card-img2-desk.png);
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 368px;
            height: 394px;
            z-index: 3;
        }

}

.card__bg-3{
    background-color: #C2E297;
    border-radius: 24px;
    max-width: 368px;
    height: 535px;
    &::before {
            content:'';
            top: -50%;
            left: 0;
            position: absolute;
            background-image: url(../images/products/card_img/card-img3-desk.png);
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 368px;
            height: 394px;
            z-index: 3;
        }
}

.card__title{
    @include font(400, 30px, 1.13, 0.04em, $alternative-color);
    font-family: 'Titan One';
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
   

    &::after{
        content:'...';
      margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;


    }
}

.card__after-title{
    @include font(700, 16px, 1.76, 0.04em, $alternative-color);
    font-family: 'DM Sans';
    text-align: center;
    margin-bottom: 60px;
}

.card__btn{
    width: 38px;
    height: 40px;
    margin: 0 auto;

}

.card__icon{
    fill: currentColor;
}